@import '../../styles/variables.scss';

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

div .HydroSDK-toggleButton {
    background-color: $backgroundGrey !important;
    color: $black !important;
    border: none;
    &:hover {
        background-color: $lightGrey !important;
        color: $black !important;
    }
    &:focus,
    &:active,
    &:visited {
        outline: none;
        background-color: $white;
        border-color: $grey !important;
        color: $black !important;
        box-shadow: none;
    }
}

@media screen and (max-width: 768px) {
    .collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: $backgroundGrey;
        z-index: 1;
        .item {
            margin: 4px 0;
            border: none;
        }
        .HydroSDK-toggleButton {
            border: none;
        }
    }
}

@media screen and (min-width: 767px) {
    .dropdown-toggle::after {
        margin-left: 12px;
    }
    .item {
        margin-right: 12px;
    }
    .collapse-toggle {
        display: none;
    }
    .collapse,
    .collapse:not(.show) {
        display: flex;
    }
}
